@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="container text-center mt-5">
    <div class="card mx-auto shadow" style="max-width: 500px;">
        <div class="card-body">
            <h2 class="card-title text-danger mb-4">Acceso Denegado</h2>
            <p class="card-text">Usted no tiene acceso a este recurso.</p>
        </div>
    </div>
</div>

<!-- Show Imagen -->
<div class="text-center mt-4">
    <img src="/img/error/forbidden.svg" alt="Imagen de error" class="img-fluid" style="max-width: 600px;" />
</div>